*{
    box-sizing: border-box;
}
.control{
    height: 20vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    gap:1rem;
}
#start{
    background-color: blue;
    color: white;
    border: none;
    box-shadow: 0 1px 2px 1px grey;
    font-size: large;
    margin : 2rem;
    padding: 0 2rem;
    border-radius: 5px;
    grid-area: 'start';
}
.t{
    display: flex;
    flex-direction: column;
}
input{
    border-radius: 5px;
}
.wrapper{
    height: 100vh;
    display: flex;
    grid-template-areas: '. . .';
    justify-content: center;
    align-items: center;
    gap:2rem;
}
.process{
    width: 10vw;
    height: 10vw;
    border-radius: 10vw;
    box-shadow: 0 0 3px 3px gray;
    display: flex;
    border: 1px r;
    align-items: center;
    justify-content: center;
    background-color: rgb(191, 255, 64);
}
.gear{
    
    height: 19vw;
    width: 19vw;
    animation-iteration-count: infinite;
}
.gear.left{
    position: relative;
    left: 17vw;
}
.gear.right{
    position: relative;
    left: -17vw;
}
.bufferCont{
    display: flex;
    flex-direction: column;
    
    margin: 2px 3rem ;
}
#consumer{
}
h2{
    text-align: center;
}

.buffer{
    width: 20vw;
    height: 70px;
    align-items: center;
    display: flex;
    gap: 1rem;
    border-radius: 5px;
    border: 1px solid black;
    padding: 1px;
    /* justify-content: end; */
}
.item{
    height: 60px;
    width: 2vw;
    background-color: rgb(0, 112, 112);
    border: 1px solid black;
    border-radius: 5px;
    animation-name: produce;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes produce {
    from{
        position: relative;
        left: -5vw;
    }
    to{
        position:unset;
    }
}
@keyframes consume {
    from{
        position: unset;
    }
    to{
        position: relative;
        left: 50%;
        opacity: 70%;
    }
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@media (max-width:800px) {
    .control{
        display: grid;
        height: 10vh;
        width: initial;
        position: initial;
        grid-template-areas: "."
                            "start";
    }
    .wrapper{
        flex-direction: column;
    }
    #producer{
        position: relative;
        left:-100px;
    }
    #consumer{
        position: relative;
        left: 100px;
    }
    .gear{
        display: none;
    }
    .gear.left{
        position: relative;
        left: calc(17vw+100px);
    }
    .gear.right{
        position: relative;
        left: calc(-17vw-100px);
    }
    #start{
        margin: 3px;   
    }
    .buffer{
        width: 140px;
        height: 50px;
        gap: 2px;
    }
    .item{
        height: 40px;
        width: 20px;
    }
    .process{
        width: 100px;
        height: 100px;
    }
}